<nav class="navbar navbar-expand navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">
        List
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['add']">
        Create
      </a>
    </li>
  </ul>
</nav>

