<div class="banner-main-container">
  <div class="banner-container">
    <span>Canter Oy</span>
    <h1>Product Editor</h1>
  </div>
</div>
<div class="form-main-container">
  <div class="form-fields-container">
    <div class="form-heading-container">
      <h1>CANTERBOOK UBERPRO</h1>
    </div>
    <div class="form-group-container">
      <div class="form-main">
        <div class="image-container">
          <img src="../../assets/form.png" />
        </div>
        <div class="form-input-container">
          <form class="example-form" [formGroup]="productForm">
            <div class="input-grid-group" style="display: 'inline-block';">
              <div class="row1">
                <div class="col1">
                  <span>Name</span>
                </div>
                <div class="col2">
                  <input type="text" class="col2-input" placeholder="Canterbook Uberpro" name="name"
                    formControlName="name" width="0" height="0" />
                </div>
              </div>

              <div class="row1">
                <div class="col1">
                  <span>Category</span>
                </div>
                <div class="col2">
                  <input type="text" class="col2-input" placeholder="Category" name="category" formControlName="category" />
                </div>
              </div>

              <div class="row1">
                <div class="col1">
                  <span>Code</span>
                </div>
                <div class="col3">
                  <div>
                    <input type="text" class="col2-input" placeholder="Code" id="code" formControlName="code" />
                  </div>
                  <div class="row1">
                    <span>Price</span>
                    <input type="text" class="col2-input" placeholder="Price" name="price" formControlName="price" />
                  </div>
                </div>
              </div>

              <div class="row1">
                <div class="col1">
                  <span>Add Detail</span>
                </div>
                <div class="col3">
                  <div class="row1">
                    <span>Key</span>
                  </div>
                  <div class="row1">
                    <span>Value</span>
                  </div>
                </div>
              </div>

              <div style="display: flex;">
                <div class="add-form-container">
                  <div formArrayName="details">
                    <div *ngFor="let control of productForm.get('details').controls; index as i" class="key-value-component" formGroupName="{{i}}">
                      <input type="text" class="col2-input" formControlName="key" placeholder="Key"
                        (change)="onChange()" name="key" />
                      <input type="text" class="col2-input" placeholder="Value" formControlName="value"
                        (change)="onChange()" name="value" />
                    </div>
                  </div>
                </div>
              </div>
              <button (click)="
                  onClick(productForm.value.key, productForm.value.value)
                " style="margin-left: 95%;" class="add-icon" [disabled]="disabled">
                <span>+</span>
              </button>
              <div>
                <input type="submit" (click)="onSubmit(productForm)" value="Save" />
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

