.banner-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #96448f;
}

.banner-container {
    margin-left: 30px;
    margin-top: 1em;
}

.banner-container span {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
}

.banner-container h1 {
    margin-top: 5%;
    font-weight: bold;
    color: #fff;
}
.form-main-container {
    margin-top: 70px;
}

.form-fields-container {
    margin-left: 30px;
}

.form-input-container {
    margin-left: 30px;
    width: 60%;
    border: 1px lightgray solid;
}

.form-heading-container h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #553d7b;
}

.form-group-container {
    width: 100%;
}

.form-main {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 250px;
    height: 200px;
    border: 1px lightgray solid;
}

.input-group-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 30px 0px 30px 30px;
}

.name-field-container {
    display: flex;
    width: 100%;
}

.name-field-container span {
    width: 50;
}

.name-input {
    width: 100%;
}

.name-text {
    justify-content: center;
}

.input-grid-group {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 1em;
    margin: 3em;
    width: 90%;
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 2em;
    height: 2.8em;
}

.row1 span {
    margin: auto;
    font-weight: bold;
}

.col1 {
    text-align: right;
    margin: auto;
}

.col1 span {
    font-weight: bold;
    text-align: right;
}

.col2 {
    width: 100%;
}

.col2-input {
    width: 100%;
    margin: auto;
    height: 100%;
}

.col3 {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    column-gap: 3em;
}

.col4 {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    column-gap: 3em;
}

.col5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
}

.add-icon {
    display: flex;
    background-color: #589f3f;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    float: right;
}

.add-icon span {
    color: #fff;
    border-radius: 5px;
    font-size: 25px;
    margin: auto;
}

.add-form-container {
    display: flex;
    margin-left: 20%;
}

.key-value-component {
    display: flex;
}
